@media (max-width: 1366px) {
    .blog-title {
        font-size: 18px;
        line-height: 24px;
    }
    .blog-post__category {
        font-size: 14px;
    }
    .sub-form {
        padding: 0 15px;
    }
}
@media (max-width: 1024px) {
    .content__container {
        display: block;
    } 
    .posts {
        margin-bottom: 50px;
    }
    .popular-posts__list {
        display: flex;
        justify-content: space-between;
    }
    .popular-posts__item {
     flex-grow: 1;
     max-width: 30%;
    
    }
    .popular-posts__article { 
        border-bottom: 1px solid transparent;
    }
    .sub-form {
        padding: 0 20%;
        display: flex;
        align-items: center;
    }
    .sub-form__input {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
@media (max-width: 767px) {
.post-grid__item {
   grid-column: 3 span !important;
   grid-row: 2 span !important;
}
}